html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
@font-face {
    font-family: 'komika_axisregular';
    src: url('font/komikax/KOMIKAX_-webfont.eot');
    src: url('font/komikax/KOMIKAX_-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/komikax/KOMIKAX_-webfont.woff2') format('woff2'),
         url('font/komikax/KOMIKAX_-webfont.woff') format('woff'),
         url('font/komikax/KOMIKAX_-webfont.ttf') format('truetype'),
         url('font/komikax/KOMIKAX_-webfont.svg#komika_axisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Rounded_Elegance';
    src: url('font/rounded/Rounded_Elegance.ttf');
    font-weight: normal;
    font-style: normal;
}
body{

    background: #232323;
  
}

 #titre{
    display:flex;
    justify-content:center;
    flex-direction: column;
 
    border-radius: 25px;
    background: #232323;
    box-shadow:  5px 5px 7px #141414,
                 -5px -5px 7px #323232;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
h1{
    font-family: 'Rounded_Elegance', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#413D3D;
    text-align: center;
    font-size: 11vw;
    font-weight: bold;
    /* text-shadow: 10px 10px 4px rgba(20,20,20,1); */
    text-shadow:  5px 5px 7px #141414,
    -5px -5px 7px #323232;
    
} 
h2{
    font-family: 'Rounded_Elegance', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#413D3D;
    text-align: center;
    margin-bottom: 20px;
    font-size: 4vw;
    text-shadow:  5px 5px 7px #141414,
    -5px -5px 7px #323232;
   

}
/* navigation-------------------------------------------------------- */

#navigation {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding: 10px 10px 10px 10px;
  border-radius: 25px;
  background: #232323;
  box-shadow: 5px 5px 7px #141414, -5px -5px 7px #323232;
  border-bottom: 2px dashed rgba(255, 255, 255, 0.767);
}

#navigation img{
  max-width: 5vw;
  opacity: 0.8;

}
 /* test dropdown */
 #navigation a,button{
  text-decoration: none;
  color: #ffffff;
  text-shadow: 5px 5px 7px #141414, -5px -5px 7px #323232;

}
.dropdown-menu a{
  font-size: 3vw;

}
button {     
  font-size: 3vw;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;      
}
.dropdown-content a{
  font-size: 3vw;  
}

#navigation a,button,img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition: 0.25s ease;
}
#navigation a:hover {
  padding: 10px;
  border-radius: 23px;
  background: #232323;
  box-shadow: inset 13px 13px 16px #101010, inset -13px -13px 16px #363636;
}
#navigation button:hover {
  padding: 10px;
  border-radius: 23px;
  background: #232323;
  box-shadow: inset 13px 13px 16px #101010, inset -13px -13px 16px #363636;
}
#navigation .dropdown-menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Rounded_Elegance" Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
}
.dropdown{
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: auto;
  border-radius: 10px;
  background: #232323;
  box-shadow: 5px 5px 7px #141414, -5px -5px 7px #323232;
  z-index: 1;
  padding: 10px;
  border-bottom: 2px dashed rgba(255, 255, 255, 0.767);
  border-right: 2px dashed rgba(255, 255, 255, 0.767);
  border-left: 2px dashed rgba(255, 255, 255, 0.767);
  
  
}


.dropdown-content a:hover {
  background: #232323;
  box-shadow: inset 13px 13px 16px #101010, inset -13px -13px 16px #363636;
}
.dropdown:hover .dropdown-content {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  

}

.home img:hover{
  border: 3px dashed #239ee0cb;
  border-radius: 10px;
 }
 #navigation a:hover {
   color: #239ee0cb;
   opacity: 0.9;
 }
 #navigation button:hover {
   color: #239ee0cb;
   opacity: 0.9;
  }
  /* ------------------------------------------------------------------------ */
#accueil{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10% 10% 10% 10%;

}
section{
    border: 15px groove #ffffff;
}
section div h2{
    font-family: 'Rounded_Elegance',Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    background-color: white;
    font-size: 1.5rem;
    opacity: 0.7;
    overflow: hidden; 
    word-break: break-all;
    margin-top: 40%;
    

}
section div p{
    text-align: center;
    font-family: 'Rounded_Elegance',Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    background-color: white;
    font-size: 1.5rem;
    opacity: 0.7;
    overflow: hidden; 
    word-break: break-all;
    margin-top: 40%;
    

}
/* FOOTER */
footer {
  border-radius: 25px;
  background: #232323;
  box-shadow: 5px 5px 7px #141414, -5px -5px 7px #323232;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  color: rgba(255, 255, 255, 0.767);
  border-top: 2px dashed rgba(255, 255, 255, 0.764);
}

.content-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  

}
.bloc{
  margin-top: 20px;
  
}

/* contact */

.footer-contact h3,

.footer-copyright h3,

.footer-medias h3 {
  font-size: 2rem;
  padding: 20px;
  text-decoration: underline;
  box-shadow: 5px 5px 7px #141414, -5px -5px 7px #323232;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.footer-contact a{
  box-shadow: 5px 5px 7px #141414, -5px -5px 7px #323232;
  position: relative;
  top: 30px;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;

}
.footer-contact a:hover {
  color: #239ee0cb;
  background: #232323;
  box-shadow: inset 13px 13px 16px #101010, inset -13px -13px 16px #363636;
  border: 1px dashed #239ee0cb;
}

/* copyright */
.copyright {
  font-size:1.5rem ;
  margin-top: 30px;
}


/* Medias */

.media-list img{
  width: 50px;
  margin: 10px 10px;

  
}
 .media-list li{
   display: flex;
   align-items: center
   ;
 }
 .media-list a{
   font-size: 1.5rem;
 }

/* Media queries */

@media screen and (max-width: 1000px) {



  .content-footer {

      max-width: 100%;

      flex-wrap: wrap;

  }

  .bloc {

      flex-basis: auto;

      margin: 20px 20px;

  }

}

@media screen and (max-width: 600px) {

  .content-footer {

      justify-content: center;

      padding-top: 30px;

  }

  .bloc {

      flex-basis: 70%;

      margin: 10px;

  }

  .footer-contact h3,

  .footer-services h3,

  .footer-schedule h3,

  .footer-medias h3 {
    font-size: 1.5rem;

      padding-bottom: 5px;

  }
  .footer-contact a{
    font-size: 1rem;
  }
  .copyright a{
    font-size: 1rem;
  }
  .footer-medias{
    margin-top: 50px;
  }
}



