html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
@font-face {
    font-family: 'komika_axisregular';
    src: url('font/komikax/KOMIKAX_-webfont.eot');
    src: url('font/komikax/KOMIKAX_-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/komikax/KOMIKAX_-webfont.woff2') format('woff2'),
         url('font/komikax/KOMIKAX_-webfont.woff') format('woff'),
         url('font/komikax/KOMIKAX_-webfont.ttf') format('truetype'),
         url('font/komikax/KOMIKAX_-webfont.svg#komika_axisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Rounded_Elegance';
    src: url('font/rounded/Rounded_Elegance.ttf');
    font-weight: normal;
    font-style: normal;
}
body{
    /* background avec image violet,jaune,noir */
    /* background-image: url(media/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw; */
    background: #232323;
  
}
  /* test background avec image svg */
/* .background{
    height: 75vh;
    width: 100%;
    background: #232222;
}
@media screen and (max-width:590px){
    .background{
        height: 85vh;
    }
}
.fond-ellipse{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 5%;
    display: block;
} */
 #titre{
    display:flex;
    justify-content:center;
    flex-direction: column;
    /* banniere titre de base sur fond blanc */
    /* background-color: whitesmoke;
    opacity: 0.7;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    border-radius: 50px;
    box-shadow: -10px 12px 25px 0px rgba(0,0,0,0.53); */
    border-radius: 25px;
    background: #232323;
    box-shadow:  5px 5px 7px #141414,
                 -5px -5px 7px #323232;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
h1{
    font-family: 'Rounded_Elegance', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#413D3D;
    text-align: center;
    font-size: 15vw;
    font-weight: bold;
    /* text-shadow: 10px 10px 4px rgba(20,20,20,1); */
    text-shadow:  5px 5px 7px #141414,
    -5px -5px 7px #323232;
    
} 
h2{
    font-family: 'Rounded_Elegance', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#413D3D;
    text-align: center;
    margin-bottom: 20px;
    font-size: 4vw;
    text-shadow:  5px 5px 7px #141414,
    -5px -5px 7px #323232;
   

}
#navigation {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding: 10px 10px 10px 10px;
  border-radius: 25px;
  background: #232323;
  box-shadow: 5px 5px 7px #141414, -5px -5px 7px #323232;
  border-bottom: 2px dashed rgba(255, 255, 255, 0.767);
}
/* #navigation ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  text-decoration: none;
  color: #413d3d;
  text-shadow: 5px 5px 7px #141414, -5px -5px 7px #323232;
  padding: 0 30px;

}
#navigation ul li {
  list-style-type: none;
  padding: 5px;
  transition: 0.25s ease;
}
#navigation ul li:hover {
  padding: 12px;
  border-radius: 23px;
  background: #232323;
  box-shadow: inset 13px 13px 16px #101010, inset -13px -13px 16px #363636;
}
#navigation ul {
  display: flex;
  justify-content: space-around;
  font-family: "Rounded_Elegance" Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
}

#navigation ul li a:hover {
  color: rgb(255, 255, 255);
  opacity: 0.7;
} */
#navigation img{
  max-width: 5vw;
  opacity: 0.8;

}
 /* test dropdown */
 #navigation a,button{
  text-decoration: none;
  color: #413d3d;
  text-shadow: 5px 5px 7px #141414, -5px -5px 7px #323232;

}
.dropdown-menu a{
  font-size: 3vw;

}
button {     
  font-size: 3vw;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;      
}
.dropdown-content a{
  font-size: 3vw;  
}

#navigation a,button,img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  transition: 0.25s ease;
}
#navigation a:hover {
  padding: 10px;
  border-radius: 23px;
  background: #232323;
  box-shadow: inset 13px 13px 16px #101010, inset -13px -13px 16px #363636;
}
#navigation button:hover {
  padding: 10px;
  border-radius: 23px;
  background: #232323;
  box-shadow: inset 13px 13px 16px #101010, inset -13px -13px 16px #363636;
}
#navigation .dropdown-menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Rounded_Elegance" Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
}
.dropdown{
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: auto;
  border-radius: 10px;
  background: #232323;
  box-shadow: 5px 5px 7px #141414, -5px -5px 7px #323232;
  z-index: 1;
  padding: 10px;
  border-bottom: 2px dashed rgba(255, 255, 255, 0.767);
  border-right: 2px dashed rgba(255, 255, 255, 0.767);
  border-left: 2px dashed rgba(255, 255, 255, 0.767);
  
  
}


.dropdown-content a:hover {
  background: #232323;
  box-shadow: inset 13px 13px 16px #101010, inset -13px -13px 16px #363636;
}
.dropdown:hover .dropdown-content {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  

}

#navigation a:hover {
  color: whitesmoke;
  opacity: 0.5;
}
#navigation button:hover {
  color: whitesmoke;
  opacity: 0.5;
}
#accueil{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10% 10% 10% 10%;

}



/* gallerie carte collection */
/* .reverse-icon{
  position: absolute;
  height: 5vh;
  right: 0;
  bottom: 0;

} */
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start-;
 
}
.gallery-card h3{
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  background-color: white;
  font-style: italic;
  font-weight: bold;
  padding: 10px;
}
/* .gallery-card{
  position: relative;
  padding: 20px;

} */

.card{
  position: relative;
  width: 300px;
  height: 500px;
  margin-top: 10px;
}
/* .card-face{
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 10px;
} */
/* .card-back{
  transform: rotateY(180deg);
} */

.image-card{
  position: absolute;
  width: 400px;
  height: 290px;
  border-radius: 20px;
}
/* .card:hover{
  transform: rotateY(180deg);
} */
@media screen and (max-width: 900px){
  #navigation .dropdown-menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: auto;
    border-radius: 10px;
    background: #232323;
    box-shadow: 5px 5px 7px #141414, -5px -5px 7px #323232;
    z-index: 1;
    padding: 10px;
    border-bottom: none;
    border-right: none;
    border-left: none;
  
  }
}
@media screen and (max-width: 400px){
  .image-card{
    width: 150px;
    height: 250px;
    border-radius: 20px;

  }

  .card{
    position: relative;
    width: 150px;
    height: 250px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: 0.5s;
    border-radius: 10px;
    perspective: 2000px;
    perspective-origin: top;
    margin: 10px;
    }
}

/* background gallerie sneakers anime  ------------------------------------------------ */
@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: relative;
  border-radius: 20px;
  margin: 5% 0 0 10%;
  width: 80vw;
  height: 100%;
  top: 0;
  left: 0;
  background:#ffffff;
  overflow: hidden;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
 
}
.logo{
  width: 50vmin;
  height: 30vmin;
  opacity: 1;
}
.ball{
  width: 50vmin;
  height: 50vmin;
  opacity: 1;
}

.background span:nth-child(0) {
  color: #ffffffda;
  top: 1%;
  left: 15%;
  animation-duration: 22s;
  animation-delay: -50s;
  transform-origin: -6vw 13vh;
  box-shadow: 40vmin 0 5.5410692612028525vmin currentColor;
}
.background span:nth-child(1) {
  color: #ffffffda;
  top: 53%;
  left: 63%;
  animation-duration: 26s;
  animation-delay: -26s;
  transform-origin: -24vw 25vh;
  box-shadow: -40vmin 0 5.92785310638174vmin currentColor;
}
.background span:nth-child(2) {
  color: #ffffffda;
  top: 47%;
  left: 2%;
  animation-duration: 12s;
  animation-delay: -13s;
  transform-origin: 4vw 10vh;
  box-shadow: -40vmin 0 5.258152379811247vmin currentColor;
}
.background span:nth-child(3) {
  color: #ffffffda;
  top: 1%;
  left: 33%;
  animation-duration: 22s;
  animation-delay: -12s;
  transform-origin: 5vw 15vh;
  box-shadow: 40vmin 0 5.957755484184265vmin currentColor;
}
.background span:nth-child(4) {
  color: #ffffffda;
  top: 71%;
  left: 65%;
  animation-duration: 39s;
  animation-delay: -14s;
  transform-origin: 12vw 10vh;
  box-shadow: -40vmin 0 5.758582947781417vmin currentColor;
}
.background span:nth-child(5) {
  color: #ffffffda;
  top: 8%;
  left: 35%;
  animation-duration: 21s;
  animation-delay: -45s;
  transform-origin: 21vw -14vh;
  box-shadow: 40vmin 0 5.7319742456224665vmin currentColor;
}
.background span:nth-child(6) {
  color: #ffffffda;
  top: 48%;
  left: 92%;
  animation-duration: 52s;
  animation-delay: -27s;
  transform-origin: 7vw -17vh;
  box-shadow: 40vmin 0 5.873633080475286vmin currentColor;
}
.background span:nth-child(7) {
  color: #ffffffda;
  top: 98%;
  left: 88%;
  animation-duration: 14s;
  animation-delay: -30s;
  transform-origin: 24vw 19vh;
  box-shadow: -40vmin 0 5.11833739429056vmin currentColor;
}
.background span:nth-child(8) {
  color: #ffffffda;
  top: 86%;
  left: 73%;
  animation-duration: 54s;
  animation-delay: -1s;
  transform-origin: -19vw 7vh;
  box-shadow: -40vmin 0 5.7119555296393445vmin currentColor;
}
.background span:nth-child(9) {
  color: #f0f0f0;
  top: 90%;
  left: 72%;
  animation-duration: 47s;
  animation-delay: -15s;
  transform-origin: 2vw 25vh;
  box-shadow: 40vmin 0 5.2688468769547185vmin currentColor;
}
.background span:nth-child(10) {
  color: #ffffffda;
  top: 46%;
  left: 22%;
  animation-duration: 43s;
  animation-delay: -36s;
  transform-origin: 25vw -4vh;
  box-shadow: -40vmin 0 5.9120518773968005vmin currentColor;
}
.background span:nth-child(11) {
  color: #ffffffda;
  top: 39%;
  left: 49%;
  animation-duration: 46s;
  animation-delay: -10s;
  transform-origin: 22vw 1vh;
  box-shadow: 40vmin 0 5.961556693421766vmin currentColor;
}
.background span:nth-child(12) {
  color: #ffffffda;
  top: 57%;
  left: 5%;
  animation-duration: 36s;
  animation-delay: -23s;
  transform-origin: -14vw 4vh;
  box-shadow: 40vmin 0 5.827831555571034vmin currentColor;
}
.background span:nth-child(13) {
  color: #ffffffda;
  top: 92%;
  left: 63%;
  animation-duration: 37s;
  animation-delay: -28s;
  transform-origin: 1vw 15vh;
  box-shadow: -40vmin 0 5.9816260031348945vmin currentColor;
}
.background span:nth-child(14) {
  color: #ffffffda;
  top: 52%;
  left: 60%;
  animation-duration: 21s;
  animation-delay: -35s;
  transform-origin: 5vw -13vh;
  box-shadow: 40vmin 0 5.072367350451859vmin currentColor;
}
.background span:nth-child(15) {
  color: #ffffffda;
  top: 41%;
  left: 55%;
  animation-duration: 25s;
  animation-delay: -4s;
  transform-origin: 6vw 15vh;
  box-shadow: 40vmin 0 5.290003175401902vmin currentColor;
}
.background span:nth-child(16) {
  color: #ffffffda;
  top: 35%;
  left: 5%;
  animation-duration: 30s;
  animation-delay: -31s;
  transform-origin: 22vw -12vh;
  box-shadow: -40vmin 0 5.953367589371396vmin currentColor;
}
.background span:nth-child(17) {
  color: #ffffffda;
  top: 20%;
  left: 65%;
  animation-duration: 53s;
  animation-delay: -39s;
  transform-origin: -13vw 12vh;
  box-shadow: 40vmin 0 5.034850099811685vmin currentColor;
}
.background span:nth-child(18) {
  color: #ffffffda;
  top: 23%;
  left: 54%;
  animation-duration: 25s;
  animation-delay: -20s;
  transform-origin: -2vw -3vh;
  box-shadow: -40vmin 0 5.804629892894248vmin currentColor;
}
.background span:nth-child(19) {
  color: #ffffffda;
  top: 41%;
  left: 92%;
  animation-duration: 26s;
  animation-delay: -14s;
  transform-origin: 9vw 12vh;
  box-shadow: 40vmin 0 5.747790231590834vmin currentColor;
}
/* -----------------------------------------------------------------------------------------  */
/* FOOTER */
footer {
  border-radius: 25px;
  background: #232323;
  box-shadow: 5px 5px 7px #141414, -5px -5px 7px #323232;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  color: rgba(255, 255, 255, 0.767);
  border-top: 2px dashed rgba(255, 255, 255, 0.764);
}

.content-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  

}
.bloc{
  margin-top: 20px;
  
}

/* contact */

.footer-contact h3,

.footer-copyright h3,

.footer-medias h3 {
  font-size: 2rem;
  padding: 20px;
  text-decoration: underline;
  box-shadow: 5px 5px 7px #141414, -5px -5px 7px #323232;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.footer-contact a{
  box-shadow: 5px 5px 7px #141414, -5px -5px 7px #323232;
  position: relative;
  top: 30px;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;

}
.footer-contact a:hover {
  color: #239ee0cb;
  background: #232323;
  box-shadow: inset 13px 13px 16px #101010, inset -13px -13px 16px #363636;
  border: 1px dashed #239ee0cb;
}

/* copyright */
.copyright {
  font-size:1.5rem ;
  margin-top: 30px;
}


/* Medias */

.media-list img{
  width: 50px;
  margin: 10px 10px;

  
}
 .media-list li{
   display: flex;
   align-items: center
   ;
 }
 .media-list a{
   font-size: 1.5rem;
 }

/* Media queries */

@media screen and (max-width: 1000px) {



  .content-footer {

      max-width: 100%;

      flex-wrap: wrap;

  }

  .bloc {

      flex-basis: auto;

      margin: 20px 20px;

  }

}

@media screen and (max-width: 600px) {

  .content-footer {

      justify-content: center;

      padding-top: 30px;

  }

  .bloc {

      flex-basis: 70%;

      margin: 10px;

  }

  .footer-contact h3,

  .footer-services h3,

  .footer-schedule h3,

  .footer-medias h3 {

      padding-bottom: 5px;

  }



}
